.wrap {
	display: flex;
	flex-direction: column;
	gap: var(--size-4-1);
	padding: var(--size-4-2) var(--size-4-3);
	background: var(--background-secondary);
}

.dateDescWrap {
	gap: 0 !important;
}

.dateInput {
	flex-shrink: 0;
	margin-right: var(--size-4-1);
}

.descriptionInput {
	flex-grow: 1;
}

.entries {
	display: flex;
	flex-direction: column;
	gap: var(--size-4-1);
	margin-bottom: var(--size-4-1);
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: var(--size-4-2);
}
