.tabs {
	display: flex;
	overflow-x: auto;
	border-bottom: var(--border-width) solid var(--background-secondary);
	scrollbar-width: none;
}

.tabs::-webkit-scrollbar {
	display: none;
}

.tabContentWrap {
	padding-bottom: var(--size-4-18);
}
