.wrap {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.dateDescWrap {
	gap: 0 !important;
}

.dateInput {
	flex-shrink: 0;
	margin-right: 6px;
}

.descriptionInput {
	flex-grow: 1;
}

.entries {
	display: flex;
	flex-direction: column;
	gap: 6px;
	margin-bottom: 6px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 8px;
}
