.wrap {
	display: flex;
	flex-wrap: nowrap;
	gap: 6px;
}

.rowWrap {
	justify-content: end;
	flex-grow: 1;
}

.amountGroup {
	display: flex;
	flex: 0 0 130px;
	min-width: 130px;
}

.amountGroup .amount {
	width: 80px;
	border-radius: var(--radius-s) 0 0 var(--radius-s);
	text-align: right;
}

.amountGroup .currency {
	width: 48px;
	border-radius: 0 var(--radius-s) var(--radius-s) 0;
}

.buttonsWrap {
	align-items: start !important;
	flex-wrap: nowrap !important;
}

:global(.tare-button).at {
	color: var(--text-muted);
	font-size: var(--font-ui-smaller);
	flex-shrink: 0;
}

:global(.tare-button).at.atActive {
	background: var(--interactive-normal);
	/*color: var(--text-on-accent);*/
	transform: translateY(1px);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
}

:global(.tare-button).at.atActive:hover {
	background: var(--interactive-hover);
}

.remove {
	flex-shrink: 0;
}
