.tab {
	padding: var(--size-4-2) var(--size-4-4);
	background: none;
	border: none;
	border-bottom: calc(var(--border-width) * 2) solid transparent;
	color: var(--text-muted);
	font-size: var(--font-ui-small);
	white-space: nowrap;
	border-radius: 0;
}

.tab:hover {
	color: var(--text-normal);
}

.tab:first-child {
	border-radius: var(--radius-s) 0 0 0;
}

.tab:last-child {
	border-radius: 0 var(--radius-s) 0 0;
}

.active {
	color: var(--text-normal);
	border-bottom-color: var(--interactive-accent);
}
